@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset y estilos globales */
html, body, #root {
  @apply h-full m-0 p-0 font-sans;
}

body {
  @apply antialiased;
}

code {
  @apply font-mono;
}

/* Evitar fondo amarillo de autofill en Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Fondo blanco */
  -webkit-text-fill-color: #000 !important; /* Texto negro */
}

/* Estilos globales para inputs */
input {
  @apply bg-white rounded-md px-3 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:border-cyan-500;
}
